<section>
    <nav class="navbar navbar-expand-sm navbar-dark bg-primary">
        <a class="navbar-brand" href="#">Hello!</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                      <span class="navbar-toggler-icon"></span>
                    </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">

            </ul>
        </div>

        <div class="navbar-right">
            <ul class="navbar-nav">

                <li class="nav-item">
                    <button (click)="onLogout()" type="button " class="btn btn-primary sl-2 ">
                        logout </button>
                </li>

            </ul>
        </div>
    </nav>
</section>



<router-outlet></router-outlet>